.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 40px;
  color: palevioletred;
  margin-bottom: 20px;
}

h1 {
  text-align: left;
}

h2 {
  text-align: right;
}


.App-title {
  font-size: 2em;
}

#addItem{
  background-color: #222;
  color: palevioletred;
}

#removeItem{
  background-color: palevioletred;
}

.fancyBtn{
  margin-right: right;
  font-size: larger;
}

.fancyDiv{
  text-align: right;
  margin-right: 30PX;
  margin-bottom: 20px;
}