.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: palevioletred;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

#addItem{
  background-color: #222;
  color: palevioletred;
}

#removeItem{
  background-color: palevioletred;
}
